<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<nav class="navbar navbar-subnav navbar-static-top" role="navigation" style="min-height:50px;">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="fa fa-ellipsis-h"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="subnav">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="#"><i class="fa fa-fw icon-ship-wheel"></i> My Timeline</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw icon-user-1"></i> Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-group"></i> Manage Friends</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw icon-comment-fill-1"></i> Messages</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav hidden-xs navbar-right">
                                    <li><a href="#">Logout  <i class="fa fa-fw icon-unlock-fill"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </nav>
                    <div class="container">
                        <div class="cover profile">
                            <div class="wrapper">
                                <div class="image">
                                  <!--{% if profile.bpic %}
                                        <img id="b_profileimg" src="static/images/profiles/{{profile.bpic}}" alt="banner"/>
                                      {% else %}
                                        <img id="b_profileimg" src="static/images/profiles/votoin_bg_baner.png" alt="banner"/>
                                      {% endif %}-->
                                    
                                </div>
                                <ul class="friends">
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/guy-6.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/woman-3.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/guy-2.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/guy-9.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/woman-9.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/guy-4.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/guy-1.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="static/images/people/110/woman-4.jpg" alt="people" class="img-responsive">
                                        </a>
                                    </li>
                                    <li><a href="#" class="group"><i class="fa fa-group"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cover-info">
                                <div class="avatar">
                                    <!--{% if profile.ppic %}
                                    <img src="static/images/profiles/{{profile.ppic}}" alt="profilepic" />
                                    {% else %}
                                    <img src="static/images/profiles/votoin_profile_pic.png" alt="profilepic" />
                                    {%endif%}
                                </div>
                                {% if profile.pstatus %}
                                  <div class="name"><a href="#">{{profile.pstatus}}</a>
                                {% else %}
                                  <div class="name"><a href="#">Your status here</a> 
                                {% endif %}-->
                                
                                </div>
                                <ul class="cover-nav">
                                    <li><a href="/{{profile.username}}"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-fw icon-user-1"></i> About</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-fw fa-users"></i> Friends</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
<router-outlet></router-outlet>
